<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vega Shell</title>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #22272b;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      * {
        box-sizing: border-box;
      }

      .header {
        position: relative;
        z-index: 1;
      }

      .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .main > div:not(:empty) {
        flex-grow: 1;
        display: flex;
      }
    </style>
    <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
    <% if (isYc) { %>
    <script src="/regenerator-runtime.js"></script>
    <% } else { %>
    <script src="<%= baseUrl %>/regenerator-runtime.js"></script>
    <% } %>

    <!--
    This CSP allows any SSL-enabled host, but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: https: localhost:* http://outsourcing.nat.tepkom.ru:38080 *.csssr.cloud *.code013.org http://*.code013.org:38080; script-src 'unsafe-inline' *.csssr.cloud https: localhost:* *.code013.org; connect-src *.csssr.cloud http://outsourcing.nat.tepkom.ru:38080 https: localhost:* ws://localhost:* *.code013.org http://*.code013.org:38080; style-src 'unsafe-inline' blob: https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
    <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
    <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

    <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
    <% if (isYc) { %>
    <script type="systemjs-importmap" src="/import-map.json"></script>
    <% } else { %>
    <script type="systemjs-importmap" src="<%= baseUrl %>/import-map.json"></script>
    <% } %>

    <!-- Add your organization's prod import map URL to this script's src  -->
    <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@vega/header": "//localhost:9001/vega-header.js",
          "@vega/auth": "//localhost:9002/vega-auth.js",
          "@vega/sp": "//localhost:9003/vega-sp.js",
          "@vega/rb": "//localhost:9004/vega-rb.js",
          "@vega/lc": "//localhost:9005/vega-lc.js"
        }
      }
    </script>
    <% } else if (isYc) { %>
      <script type="systemjs-importmap" src="/vega-shell/dist/import-map.json"></script>
      <script type="systemjs-importmap" src="/vega-auth/dist/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="/vega-sp/dist/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="/vega-header/dist/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="/vega-rb/dist/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="/vega-lc/dist/import-map.json" crossorigin="anonymous"></script>
    <% } else { %>
      <script type="systemjs-importmap" src="http://master.vega-auth.csssr.cloud/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="http://release.vega-sp.csssr.cloud/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="http://release.vega-header.csssr.cloud/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="http://develop.vega-rb.csssr.cloud/import-map.json" crossorigin="anonymous"></script>
      <script type="systemjs-importmap" src="http://develop.vega-lc.csssr.cloud/import-map.json" crossorigin="anonymous"></script>
    <% } %>


    <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.10.3/dist/zone.min.js"></script> -->

    <% if (isYc) { %>
    <script src="/import-map-overrides.js"></script>
    <script src="/systemjs.js"></script>
    <script src="/systemjs-amd.js"></script>
    <script src="/systemjs-named-exports.js"></script>
    <% } else { %>
    <script src="<%= baseUrl %>/import-map-overrides.js"></script>
    <script src="<%= baseUrl %>/systemjs.js"></script>
    <script src="<%= baseUrl %>/systemjs-amd.js"></script>
    <script src="<%= baseUrl %>/systemjs-named-exports.js"></script>
    <% } %>

    <template id="single-spa-layout">
      <single-spa-router>
        <route path="/login">
          <application name="@vega/auth" loader="main" props="identity,notifications"></application>
        </route>
        <route path="/projects">
          <div class="header">
            <application name="@vega/header" loader="main" props="graphqlClient,identity"></application>
          </div>
          <main class="main">
            <application name="@vega/sp" loader="main" props="graphqlClient,identity,notifications"></application>
            <route path="show/:project_id/rb">
              <application name="@vega/rb" loader="main" props="graphqlClient,identity"></application>
            </route>
            <route path="show/:project_id/lc">
              <application name="@vega/lc" loader="main" props="graphqlClient,identity"></application>
            </route>
          </main>
        </route>
      </single-spa-router>
      <application name="@vega-shell/notifications" props="bus,notifications"></application>
    </template>
  </head>
  <body>
    <script>
      System.import('@vega/shell');
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
